shchukin.de {
	@private_surfaces path /dashboard* /today*

	handle @private_surfaces {
		basicauth {
			sergey $2a$14$3hRHbJgbDkKV9CpenAdFxeL3DpikaFxXR8.fJib8EGZAPZWR8LMsG
		}

		reverse_proxy http://127.0.0.1:8000
	}

	handle {
		respond "Human Engine" 200
	}
}
api.shchukin.de {
	handle /today* {
		respond 404
	}

	handle /dashboard* {
		respond 404
	}

	handle {
		reverse_proxy http://127.0.0.1:8000
	}
}
